.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  background-color: hsl(229, 57%, 11%);
}
.fylo-card {
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
}

.icon-box {
  background-color: hsl(229, 57%, 11%);
}

.storage-card {
  background-color: hsl(228, 56%, 26%); 
  color: hsl(243, 100%, 93%);
}